.card{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
}

.card.home{
    z-index: 1;
    background-color: #217176;
    /* border: 1px solid #217176; */
    border-radius: 10px;
    margin-left: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0 2rem 0;
    transition: all .1s ease-in;
    box-shadow: 5px 10px 30px #1d6e74;
    
}
.card.home.first{
    animation: moveUpAndDown 3s ease-in-out infinite;
}
.card.home.second{
    animation: moveUpAndDown 4s ease-in-out infinite;
}

.card.home.third{
    animation: moveUpAndDown 3s ease-in-out infinite;
}


@keyframes moveUpAndDown {
  0% {
    bottom: -20px; /* Start position */
  }
  50% {
    bottom: 30px; /* Mid position (move to the top) */
  }
  100% {
    bottom: -20px; /* End position (return to start) */
  }
}
.card.journey{
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid #217176; */
    border-radius: 30%;

    margin-left: 2rem;
    height: 100%;
}

.card.journey h2{
    font-weight: 600;
    font-size: 26px;
}

.card.journey p{
    width: 250px;
    text-align: center;
    text-wrap: wrap;
    color: #404040;
}

.card.home h2{
    font-size: 1.5rem;
    color:#fff;
    text-transform: uppercase;
    border-radius: 2rem;
    backdrop-filter: blur(10px);
    text-shadow: 2px 2px 0 #217176, 2px 2px 0 #217176, 2px 2px 0 #217176; 

}

.card.home .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #217176;
}

.card a{
    text-decoration: none;
}



.card .btns{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.card.all{
    background-color: #d9d9d9;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 20px #404040;

}

.card.all .esconder.info {
    transition: .2s all ease-out;
    z-index: 1;
    display: flex;
}

.card.all .info.esconder:hover{
    backdrop-filter: blur(20px);
}

/* .card.all .mascara{
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .1s all ease-in;
} 


 .card.all .mascara:hover{
    backdrop-filter: blur(20px);

}  */


.card.all h2{
    font-size: 1.5rem;
    color:#fff;
    text-transform: uppercase;
}

.card.all .info{ 
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    padding: 2rem;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s all ease-in-out;
}

.card.all  .info.esconder .btns {
    pointer-events: auto; /* Permite interações na .btns */
}