.card{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
}

.card.home{
    background-color: #d9d9d9;
    /* border: 1px solid #217176; */
    border-radius: 10px;
    margin-left: 2rem;
}

.card.journey{
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid #217176; */
    border-radius: 30%;

    margin-left: 2rem;
}

.card.journey h2{
    font-weight: 400;
    font-size: 26px;
}

.card.journey p{
    text-align: center;
    text-wrap: wrap;
    color: #404040;
}

.card.home h2{
    font-size: 1rem;
    color:#217176;
    text-transform: uppercase;
}

.card .btns{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

