@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Sora';
    scroll-behavior: smooth;

}
body{
    max-width: 100%;
    margin: 0rem;
    min-height: 100vh;
}

.logo-home{
    position: absolute;
    color: #00F0FF;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    top: 0;
    left: 0;
    padding: 1rem;
}
.logo{
    color: #00F0FF;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    top: 0;
    left: 0;
    padding: 1rem;
}

.titulo-pagina{
    font-size: 55px;
    color: #217176;
    text-transform: uppercase;
    font-weight: 700;
    text-wrap: wrap;
}

