@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Sora';

}
body{
    margin: 0rem;
    height: 100%;
}
:root {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
.logo-home{
    position: absolute;
    color: #00F0FF;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    top: 0;
    left: 0;
    padding: 1rem;
}
.logo{
    color: #00F0FF;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    top: 0;
    left: 0;
    padding: 1rem;
}

.titulo-pagina{
    font-size: 55px;
    color: #217176;
    text-transform: uppercase;
    font-weight: 700;
    text-wrap: wrap;
}

